@import 'tailwindcss';

@plugin "daisyui" {
  themes: dark --default;
}

@plugin "@tailwindcss/typography";

html {
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background-image: url('$lib/assets/bg_eyup.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  /* This avoids background-attachment: fixed which is bad for scroll performance */
}
